.footerContainer {
  position: static;
  bottom: 0;
  margin-top: 10rem;
}

.footerContent {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;

  @media screen and (max-width: "932px") {
    flex-direction: column;
  }
}

.footerInformation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footerIcons {
  margin-left: auto;
  margin-right: 15rem;
  cursor: pointer;

  :nth-child(2) {
    margin-left: 2rem;
  }
}
